#carousel {
	margin: 10% 10% 10% 10%;
}

#break {
	margin: 3% auto 3% auto;
	height: 20px;
	position: relative;
	width: 100%;
	background: radial-gradient(ellipse farthest-side at top center, white, yellow, red, transparent)
}

#button {
	margin: 5% 5% 5% 5%;
}

